[submodule "themes/themes/papermod"]
	path = themes/themes/papermod
	url = https://github.com/cydave/zola-theme-papermod
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/cydave/zola-theme-papermod
